<main class="w-screen h-screen">
<nz-layout class="w-full h-full">
  <nz-layout>
    <nz-sider nzWidth="200px" nzTheme="dark">
      <ul nz-menu nzMode="inline" class="sider-menu">
        <li nz-submenu nzOpen nzIcon="user" nzTitle="Personagem">
          <ul>
            <li nz-menu-item nzSelected (click)="switchMenu(1)">Informações Básicas</li>
            <li nz-menu-item (click)="switchMenu(2)">Itens</li>
            <li nz-menu-item (click)="switchMenu(3)">Habilidades e Poderes</li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-layout class="inner-layout mt-4">
      <nz-content class="overflow-x-auto" [ngSwitch]="menu">
        <div *ngSwitchCase="1">
          <div id="toolbar">
            <button class="ql-bold">Bold</button>
            <button class="ql-italic">Italic</button>
          </div>

          <div id="editor">
            <h1>Hello world</h1>
          </div>
        </div>
        <div *ngSwitchCase="2">

        </div>
        <div *ngSwitchCase="3">
          3
        </div>
        <div *ngSwitchDefault="">5</div>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
</main>
