.bannerIndex{
    width: 100%;
    }

.cardIndex{
    background-color: white;
    border-radius: 8px;
}

@media only screen and (max-width: 748px) {
    .logo {
      background-color: lightblue;
    }
  }