<nav class="w-full py-3 px-10 flex flex-wrap lg:flex-nowrap lg:items-center bg-blue-600 justify-evenly">
    <div class="w-4/12">
        <img src="../../../../assets/sukuna.png" class="w-16 h-16" alt="Logo do Site">
    </div>
    <div class="w-8/12">
        <ul class="w-full flex gap-x-3 list-none m-0 justify-end">
            <li><a [routerLink]="['/']" class="text-white text-lg font-bold hover:text-zinc-600">Home</a></li>
            <li><a [routerLink]="['/personagens']" class="text-white text-lg font-bold hover:text-zinc-600">Personagens</a></li>
            <li><a [routerLink]="['/conta']" class="text-white text-lg font-bold hover:text-zinc-600">Minha Conta</a></li>
        </ul>
    </div>
</nav>