<mat-toolbar color="primary" class="mx-auto justify-content-between">
  <a routerLink="home" class="logo">Arkhadia</a> 
  <button mat-icon-button color="primary" style="background:none; border: none;">
    <mat-icon style="color: white;">supervisor_account</mat-icon>
  </button>
</mat-toolbar>

<div class="container-fluid container-lg">
  <div class="my-5">
    <h1 class="text-center" style="font-weight: bold; font-size: 2.5rem;">Bem vindo à Arkhadia!</h1>
  </div>

  <div class="bannerHome">
    <img src="../assets/imgs/bannerHome.jpeg" alt="" style="width: 100%; height: 100%;">
  </div>

  <div class="d-flex my-3" style="justify-content: space-evenly;">
    <div class="col-12 col-lg-3 text-center cardHome py-2">
        <img src="../assets/imgs/icon1.jpg" alt="" class="d-block mx-auto">
        <h2>Não tenho conta :(</h2>
        <button class="btn btn-primary rounded-pill">Criar Conta</button>
    </div>

    <div class="col-12 col-lg-3 text-center cardHome py-2">
        <img src="../assets/imgs/icon2.jpg" width="225" alt="" class="d-block mx-auto">
        <h2>Já tenho conta!</h2>
        <button class="btn btn-primary rounded-pill">Acessar Conta</button>
    </div>
  </div>
</div>

<footer class="text-center py-2 mt-5 mat-toolbar mat-primary text-white">
  <span style="font-weight: bold; font-size: 1rem;">Todos os direitos reservados, 2023.</span>
</footer>