<main class="w-screen h-screen">
  <nz-layout class="w-full h-full">
    <nz-layout>
      <nz-sider nzWidth="200px" nzTheme="dark">
        <ul nz-menu nzMode="inline" class="sider-menu">
          <li nz-submenu nzOpen nzIcon="user" nzTitle="Personagem">
            <ul>
              <li nz-menu-item nzSelected (click)="switchMenu(1)">
                Informações Básicas
              </li>
            </ul>
          </li>
        </ul>
      </nz-sider>
      <nz-layout class="inner-layout mt-4">
        <nz-content class="overflow-x-auto" [ngSwitch]="menu">
          <form [formGroup]="sheetForm">
            <section *ngSwitchCase="1" class="w-full mx-auto">
              <div class="w-full mx-auto flex flex-wrap">
                <div class="lg:w-4/12 w-full flex items-center justify-center">
                  <img src="../../../../assets/sukuna.png" alt="" />
                </div>
                <div
                  class="lg:w-8/12 w-full flex-wrap flex items-start gap-y-0"
                >
                  <div class="form-group w-full lg:w-2/4 px-4">
                    <label for="name">Nome</label>
                    <input
                      formControlName="name"
                      class="border-2 rounded-lg border-zinc-400"
                      type="text"
                    />
                  </div>
                  <div class="form-group w-full lg:w-2/4 px-4">
                    <label for="class">Classe</label>
                    <input
                      formControlName="class"
                      class="border-2 rounded-lg border-zinc-400"
                      type="text"
                    />
                  </div>
                  <div class="form-group w-full lg:w-2/4 px-4">
                    <label for="level">Level</label>
                    <input
                      formControlName="level"
                      class="border-2 rounded-lg border-zinc-400"
                      type="number"
                    />
                  </div>
                  <div class="form-group w-full lg:w-2/4 px-4">
                    <label for="xp">XP</label>
                    <input
                      formControlName="xp"
                      class="border-2 rounded-lg border-zinc-400"
                      type="number"
                    />
                  </div>
                  <div class="form-group w-full px-4">
                    <label for="description ">Descrição</label>
                    <textarea
                      formControlName="description"
                      class="border-2 rounded-lg border-zinc-400 h-48"
                    ></textarea>
                  </div>
                </div>
              </div>
              <hr class="my-2"/>
              <div class="w-full">
                <nz-tabset
                  [(nzSelectedIndex)]="selectedIndex"
                  nzType="editable-card"
                  (nzAdd)="newTab()"
                  (nzClose)="closeTab($event)"
                >
                  @for (tab of tabs; track tab) {
                  <nz-tab nzClosable [nzTitle]="tab.title">
                    <textarea name="contentArea" id="contentArea" 
                    [value]="tab.content"
                    class="w-full h-72 border-2 border-zinc-400 rounded-lg p-2">
                    </textarea>
                  </nz-tab>
                  }
                </nz-tabset>
              </div>
            </section>
          </form>
        </nz-content>
      </nz-layout>
    </nz-layout>
  </nz-layout>
</main>
